{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "ignorePatterns": ["node_modules/", "dist/", ".prettierrc.js", "eslintrc.js"],
  "settings": {
    // Tells eslint how to resolve imports
    "import/resolver": {
      "node": {
        "paths": ["srx"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
    },
  },
  "rules": {
    "no-console": "off",   // disable warnings when logging to console
    "linebreak-style": 0,  // disable LF and CRLF linebreak errors
    "no-plusplus": "off"   // disable no-plusplus errors
  }
}