body{
  margin: 0;
  background: black;
  box-sizing: border-box;
}

/*-----Fonts-----*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');


$primary: #eebe3d;
$dark-bg: #000000;
$corner-offset: -2.6em;

$primary-type: 'IBM Plex Mono', monospace;
$secondary-type: 'Roboto', sans-serif;


/*-----Leaderboard-----*/
.leaderboard{
  font-size: 20px;
  position: relative;
  font-family: $primary-type;
  z-index: 3;
  background: $dark-bg;
  margin: 1em auto;
  width: 3em;
  height: 3em;
  transition: .5s width ease-in, .5s .5s height ease-in;
  box-shadow: 2px 2px 20px rgba(0,0,0,.8);  
  animation: showBoard 4s 2s forwards, shake1 .2s .4s linear, shake2 .2s 1s linear;
  
  /*-----Inner-----*/
  &-inner{
    white-space: no-wrap;
    text-align: center;
    opacity: 0;

    animation: showInnerBoard 3s 3s forwards;
    p{
      display: block;
      color: white; 
      white-space: nowrap;
    }
    .title{
      font-size: 2em;
			line-height: 2em;
    }
    .subtitle{
      font-size: 1em;
			line-height: 1em;
      font-family: $secondary-type;
    }
		h2{
			color: white;
		}
  }
  
  /*-----corners-----*/
  &-corner-one,
  &-corner-two{
    content: ''; 
    display: block; 
    border: 2.4em solid transparent;
    position: absolute;
    z-index: 5;
  }
  &-corner-one{
    top: $corner-offset;
    left: $corner-offset;
    border-bottom-color: $primary;
    transform: rotate(-45deg);
    &:before{
      content: ''; 
      display: block; 
      position: absolute; 
      transform: rotate(-45deg); 
      background: $primary; 
      top: 1.2em;
      right: -1.1em;
      padding: 1em;
    }
  }
  &-corner-two{
    bottom: $corner-offset;
    right: $corner-offset;
    border-top-color: $primary;
    transform: rotate(-45deg);
  }
}

/*-----Animations-----*/  
@keyframes showBoard {
	to{
		width: 80%; 
		height: 100%;
		padding-top: 1em;
		padding-bottom: 1em;
		animation: shake1 .2s .5s linear, shake2 .3s 1s linear;
	}
}

@keyframes showInnerBoard{
  to {
    opacity: 1;
  }
}

@keyframes shake1{
  0%  {transform: translate(0,0)}
  50%  {transform: translateX(-0.3em)}
  100%  {transform: translate(0,0)}
}
@keyframes shake2{
  0%  {transform: translate(0,0)}
  50%  {transform: translateY(0.3em)}
  100%  {transform: translate(0,0)}
}
@keyframes wiggle{
  0%  {transform: rotate(0deg);}
  25%  {transform: rotate(-2deg);}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(2deg);}
  100%  {transform: rotate(0deg);} 
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

::-webkit-scrollbar-track {
	background: #2c2c2c;
	border: 0.25rem solid #222;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 1.1rem;
	border: 0.25rem solid #222;
}

::-webkit-scrollbar-thumb {
	background: #404040;
	border: 0.25rem solid #222;
	border-radius: 10px;
}

div.loader {
	display: flex;
	align-items: center;
  position: relative;
	z-index: 2001;
	margin: auto;
  width: 50%;
	transition: 0.5s ease-in-out;
}

div.loader.initial {
	transition: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.spinner {
	width: 60px;
	height: 60px;
	position: relative;
	margin: 0 auto;
}

div.spinner-circle {
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.25;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	animation: bounce 1.5s infinite ease;
}

div.spinner-circle:first-of-type {
	animation-delay: -0.75s;
}

@keyframes bounce {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}

div.scroller {
	height: 100%;
	overflow: auto;
}
