<div class="container-fluid">
  <div class="row">
    <div class="leaderboard">
      <span class="leaderboard-corner-one"></span>
      <span class="leaderboard-corner-two"></span>
  

      <div class="leaderboard-inner">
        <p class="title mt-6">Programming Escape Room</p>

        <p class="subtitle mt-6">FH Campus Wien</p>
        
        <app-timer-component id="timer" [hrsMinSec]="hrsMinSec" class="row mt-6 mb-6">
        </app-timer-component>

        <div class="row mt-4">
            <app-leaderboard [teams]="teams">
            </app-leaderboard>
        </div>
        
        <app-loader [loading]="loading"></app-loader>

      </div>
    </div>
  </div>
</div>